<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
    <style>
    </style>
</head>
<body>
    <div id="app">
        <h4>Adicionar Paciente</h4>
        <span>Nome: <input type="text" id="inputNome"></span><br>
        <span>Idade: <input type="text" id="inputIdade"></span><br>
        <span>Plano: <input type="text" id="inputPlano"></span><br>
        <button @click="adicionarPaciente()">Adicionar</button>
        <hr>
        <h4>Último Paciente Cadastrado</h4>
        <p v-if="pacientes.length > 0">
            Nome: {{ pacientes[pacientes.length - 1].nome }},
            Idade: {{ pacientes[pacientes.length - 1].idade }},
            Plano: {{ pacientes[pacientes.length - 1].plano }}
        </p>
        <hr>
        <h4>Pacientes do Plano Ouro</h4>
        <p v-for="paciente in pacientes">{{ paciente.plano == 'Ouro' ?  paciente.nome : '' }}</p>
        <hr>
        <h4>Pacientes Cadastrados</h4>
        <p v-for="paciente in pacientes">{{ paciente.nome }}</p>
    </div>        

    <script>
        options = {
            el: '#app',
            data: {
                pacientes: []
            },
            methods: {
                adicionarPaciente() {
                    let paciente = {
                        nome: inputNome.value,
                        idade: inputIdade.value,
                        plano: inputPlano.value
                    }

                    this.pacientes.push(paciente);
                }
            }
        }

        const vueModel = new Vue(options);
    </script>
</body>
</html>